.quoteDetail-bucket-1 {
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.quoteDetail-bucket-2 {
  width: 40%;
  margin: 100px auto;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
